:root {
    --gap: 24px;
    --nav-width: 1024px;
    --logo-size: 50px;
    --menu-size: 30px; 
    --header-height: 50px;
}

body {
    font-family: Geist;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--nav-width);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.logo a {
    font-size: var(--logo-size);
    color: black;
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

.menu li {
    float: left;
    width: 100px;
}

.menu a {
    font-size: var(--menu-size);
    color: grey;
    display: block;
    text-decoration: none;
}

.menu a:hover {
    color: black;
}

.menu .active {
    color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  text-align: center;
}

