:root {
    --gap: 24px;
    --nav-width: 1024px;
    --logo-size: 60px;
    --menu-size: 30px; 
    --header-height: 50px;
    --margin: 32px;
}

@media (max-width: 600px) {
    :root {
        --margin: 10px;
        --logo-size: 40px;
        --menu-size: 20px;
        --gap: 24px;
    }
}

body {
    font-family: Geist;
    margin: var(--margin);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--nav-width);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.logo {
    margin-right: var(--gap);
}

.logo a {
    font-size: var(--logo-size);
    text-decoration: none;
    color: black;
}

.menu {
}

.menu li {
    float: left;
    margin-right: var(--gap);
}

.menu a {
    font-size: var(--menu-size);
    color: grey;
    text-decoration: none;
}

.menu a:hover {
    color: black;
}

.menu .active {
    color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  text-align: center;
}

