body {
    font-family: Geist;
    font-size: var(--body-size);
    min-height: 100vh;
}

p {
    hyphens: auto;
}

.nav {
    display: flex;
    max-width: var(--nav-width);
    justify-content: space-between;
    margin-left: calc((100vw - var(--nav-width)) * 0.5);
}

.logo {
    font-size: var(--logo-size);
    line-height: var(--nav-height);
}

.logo a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    float: right;
    line-height: var(--nav-height);
}

.menu li {
    margin-right: var(--gap);
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
    font-size: var(--menu-size);
    color: grey;
    text-decoration: none;
}

.menu a:hover {
    color: black;
}

.menu .active {
    color: black;
}

.main {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 2px);
    max-width: var(--nav-width);
    margin-left: calc((100vw - var(--nav-width)) * 0.5);
}

.footer {
    color: grey;
    text-align: center;
    font-size: var(--foot-size);
}


:root {
    --logo-size: 50px;
    --menu-size: 25px; 
    --body-size: 20px;
    --foot-size: 15px;

    --nav-height: calc(var(--logo-size) * 2);
    --nav-width: 800px;

    --footer-height: calc(var(--body-size) * 1.5);

    --gap: 24px;
    --margin: 20px;
}


@media (max-width: 840px) {
    :root {
        --logo-size: 40px;
        --menu-size: 20px;
        --body-size: 15px;
        --foot-size: 10px;

        --nav-height: calc(var(--logo-size) * 1.5 + var(--menu-size) * 1.5);

        --margin: 20px;
        --gap: 24px;
    }
    .nav {
        flex-direction: column;
        margin: var(--margin);
    }
    .main {
        margin-left: var(--margin);
        margin-right: var(--margin);
    }
    .logo, .menu {
        line-height: inherit;
    } 
}
