<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <h1 class="logo"><a href="/">{{ site.Title }}</a></h1>
                <ul class="menu">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL }}"{{ if eq .URL $currentPage.RelPermalink }} class="active"{{ end }}>
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </header>

        <main class="main">
            {{ block "main" . }}{{ end }}
        </main>

        <footer class="footer">
            <p>© {{ now.Year }} Juca Aquino. All rights reserved.</p>
        </footer>
    </body>
</html>
